<form nz-row [nzGutter]="defGutter" [formGroup]="form">
  <app-def-input-group nz-col [nzSpan]="14" icon="search" [control]="form.controls['search']" [placeholder]="fields.search"/>
  <app-custom-select-status nz-col [nzSpan]="4" [control]="form.controls['status']" [placeholder]="fields.status"/>
  <app-def-select nz-col [nzSpan]="4" [control]="form.controls['blinded']" [placeholder]="fields.blinded" [options]="blindedOptions"/>
  <app-def-button nz-col [nzSpan]="2" [text]="fields.add" icon="plus" (click)="manage(true)"/>
  <app-def-divider nz-col [nzSpan]="24"/>
  <app-def-table nz-col
    [nzSpan]="24"
    [headers]="headers"
    [dataSet]="data"
    [isLoading]="isLoading"
    [total]="meta.total"
    [size]="meta.limit"
    [index]="meta.page"
    (changed)="tableChanged($event)"
    (dataClicked)="manage(false, $event)"/>
</form>
