<from nz-row [nzGutter]="defGutter"
    [formGroup]="form">
    <app-def-input-group nz-col [nzSpan]="12" icon="search" [control]="form.controls['search']" [placeholder]="fields.search"/>
    <app-def-select nz-col [nzSpan]="8" [control]="form.controls['rolesId']" [placeholder]="fields.roles" mode="tags" [options]="rolesOption"/>
    <app-custom-select-status nz-col [nzSpan]="2" [control]="form.controls['status']" [placeholder]="fields.status"/>
    <app-def-button nz-col [nzSpan]="2" icon="user-add" [text]="fields.add" (click)="manage(true)"/>
    <app-def-divider nz-col [nzSpan]="24"/>
    <app-def-table nz-col 
        [nzSpan]="24" 
        [headers]="headers" 
        [dataSet]="data" 
        [isLoading]="isLoading"
        [total]="meta.total"
        [size]="meta.limit"
        [index]="meta.page" 
        (changed)="tableChanged($event)"
        (dataClicked)="manage(false, $event)"/>
</from>
