<form nz-row [nzGutter]="defGutter" [formGroup]="form">
    <app-custom-input-field nz-col [nzSpan]="24" [text]="fields.code" [control]="form.controls['code']"/>
    <app-custom-input-field nz-col [nzSpan]="24" [text]="fields.name" [control]="form.controls['name']"/>
    <app-def-checkbox nz-col [nzSpan]="24" [control]="form.controls['blinded']">{{ fields.blinded }}</app-def-checkbox>
    <app-def-divider nz-col [nzSpan]="24" orientation="left" icon="book" [text]="fields.pages"/>
    <div nz-col [nzSpan]="24">
        <nz-tag *ngFor="let page of pages" nzMode="checkable" [(nzChecked)]="page.status" [style.border]="!page.status ? '1px dotted silver' : ''" (nzCheckedChange)="form.markAsTouched()">
            <span nz-icon [nzType]="!page.status ? 'plus-square' : 'check-square'"></span>
            <span>{{ page.name }}</span>
        </nz-tag>
    </div>
    <app-custom-modal-footer nz-col [nzSpan]="24" [isTouched]="form.touched" [isAdd]="isAdd" [statusControl]="form.controls['status']" [remarksControl]="form.controls['remarks']" [isLoading]="isLoading" (submit)="onSubmit($event)" [id]="form.value.id"/>
</form>