<form nz-row [nzGutter]="defGutter" [formGroup]="form">
    <app-custom-input-field nz-col [nzSpan]="24" [control]="form.controls['code']" [text]="fields.code"/>
    <app-custom-input-field nz-col [nzSpan]="24" [control]="form.controls['name']" [text]="fields.name"/>
    <app-custom-select-field nz-col [nzSpan]="24" [control]="form.controls['prevPhase']" [text]="fields.prevPhase" [options]="phases" (selectionChanged)="form.markAsTouched()"/>
    <app-custom-modal-footer nz-col [nzSpan]="24" [statusControl]="form.controls['status']" [isAdd]="isAdd" [remarksControl]="form.controls['remarks']" [isTouched]="form.touched" [isLoading]="isLoading" (submit)="submit($event)" [id]="form.value.id"/>
</form>