.f-bold {
    font-weight: bold !important;
}

.f-smaller {
    font-size: smaller;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}
.text-dec-none{
    text-decoration: none;
}

.text-dec-underline{
    text-decoration: underline;
}